APBiology-OP.pdf
David Halliday, Robert Resnick, Jearl Walker - Fundamentals of Physics Extended-Wiley (2013).pdf
Theodore E. Brown et al. - Chemistry_ The Central Science-Pearson (2017).pdf
results_embeded.npy
results_no_embeded.npy
